
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
#main-menu li a.active,
#main-menu li.active-trail a {
color:#000;
background:transparent;
}
#main-menu li a.active:hover {
color:#FFF;
  background: rgba(255, 162, 21, .5);
}
#page{
  background: #01253e url(../images/stripes_bg.png) top left repeat-x;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: #FFF url(../images/txlf_header.png) no-repeat top center;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {

}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #979797;
}
